<?xml version="1.0" encoding="utf-8"?>
<Media Key="8790bfc3-c5c4-41ea-9fb0-578f057d19f5" Alias="2" Level="3">
  <Info>
    <Parent Key="f1feb30b-2028-458e-ae58-0afcf5936a56">Advantage</Parent>
    <Path>/HomePage/Advantage/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-17T15:12:55</CreateDate>
    <NodeName Default="2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jr0nmmnn/surveillanceboostd.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>