<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1feb30b-2028-458e-ae58-0afcf5936a56" Alias="Advantage" Level="2">
  <Info>
    <Parent Key="4b822427-42e6-4241-a0b8-eafa9b54b79a">Home Page</Parent>
    <Path>/HomePage/Advantage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-07-17T15:11:59</CreateDate>
    <NodeName Default="Advantage" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>