<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ab0b74a-853c-40c1-8cf7-3070be036d7e" Alias="Carousel" Level="2">
  <Info>
    <Parent Key="4b822427-42e6-4241-a0b8-eafa9b54b79a">Home Page</Parent>
    <Path>/HomePage/Carousel</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-07-11T09:56:24</CreateDate>
    <NodeName Default="Carousel" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>