<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b8c43cf-b3df-49d6-b4ea-38fc47c3bd20" Alias="favicon.ico" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/faviconico</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-07-05T09:14:35</CreateDate>
    <NodeName Default="favicon.ico" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hqvhpw5y/favicon.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>