<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b822427-42e6-4241-a0b8-eafa9b54b79a" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-07-11T09:55:50</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>