<?xml version="1.0" encoding="utf-8"?>
<Media Key="56242325-690f-4b5d-a1ec-9353734e93ba" Alias="J5960" Level="3">
  <Info>
    <Parent Key="6ab0b74a-853c-40c1-8cf7-3070be036d7e">Carousel</Parent>
    <Path>/HomePage/Carousel/J5960</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-11T09:59:21</CreateDate>
    <NodeName Default="J5960" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vluhfydg/banner_d5000_j5960_notext.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>