<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3b11892-7a71-4c2e-9f4d-8c7119eca3eb" Alias="logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-05T13:43:43</CreateDate>
    <NodeName Default="logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dxjpo3iy/logo.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>