<?xml version="1.0" encoding="utf-8"?>
<Media Key="726a9c03-e9fa-4645-a414-1510c1c93681" Alias="M4" Level="3">
  <Info>
    <Parent Key="6ab0b74a-853c-40c1-8cf7-3070be036d7e">Carousel</Parent>
    <Path>/HomePage/Carousel/M4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-11T09:57:52</CreateDate>
    <NodeName Default="M4" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rrlczret/pegasus-m4-index-banner_tc.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>