<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d0969dd-b95a-4ccc-980b-aacdf6db3f09" Alias="pegasus_r12_banner2.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pegasus_r12_banner2jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-05T14:23:38</CreateDate>
    <NodeName Default="pegasus_r12_banner2.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kkrf5gzt/pegasus_r12_banner2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>