<?xml version="1.0" encoding="utf-8"?>
<Media Key="203d9141-ade3-4652-9969-9521fb02fded" Alias="PR Item" Level="2">
  <Info>
    <Parent Key="c7ed6d39-3b83-4f73-9a2c-36761f9b65dc">Press Release</Parent>
    <Path>/PressRelease/PRItem</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-07-18T09:37:12</CreateDate>
    <NodeName Default="PR Item" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>