<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7ed6d39-3b83-4f73-9a2c-36761f9b65dc" Alias="Press Release" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PressRelease</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-07-18T09:36:17</CreateDate>
    <NodeName Default="Press Release" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>