<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ded657d-4e9e-4472-8fd3-c36bcd041b8d" Alias="RAID" Level="3">
  <Info>
    <Parent Key="6ab0b74a-853c-40c1-8cf7-3070be036d7e">Carousel</Parent>
    <Path>/HomePage/Carousel/RAID</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-11T09:58:09</CreateDate>
    <NodeName Default="RAID" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4kxlwk5x/promiseraid-index-banner1920x-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>