<?xml version="1.0" encoding="utf-8"?>
<Media Key="084c2295-e3b9-44d7-897a-931788b27beb" Alias="VESS" Level="3">
  <Info>
    <Parent Key="6ab0b74a-853c-40c1-8cf7-3070be036d7e">Carousel</Parent>
    <Path>/HomePage/Carousel/VESS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-11T09:58:36</CreateDate>
    <NodeName Default="VESS" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dluavpwq/hero-home-banner-1920x650-a6000.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>