<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebd868c1-b856-4437-9e1d-ca0496062944" Alias="pressReleaseList" Level="4">
  <Info>
    <Name>Press Release List</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page/News+Room/Press+Release</Folder>
    <Compositions>
      <Composition Key="023b2af0-fc2a-4f46-bcf2-e76b01bf7c5a">pageMeta</Composition>
    </Compositions>
    <DefaultTemplate>pressReleaseList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bc1cf7c3-8f70-4269-ab37-68e6c086a105">pressReleaseList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="72f6ace7-980e-4352-8249-8fc85e43edb6" SortOrder="0">pressRelease</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c33e5790-7431-4805-9f53-6afa18a83c83</Key>
      <Name>Banner</Name>
      <Alias>banner</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f80a65b6-43fe-4a46-b4cd-494429b70df3</Key>
      <Name>Last View</Name>
      <Alias>lastView</Alias>
      <Definition>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</Definition>
      <Type>Umbraco.ListView</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1cee7fa-46df-4955-a5fd-fbc71c99b896</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3a36c212-9bb5-4163-9690-5dc1c2d8a83f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>