<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="314b6309-4d21-4561-9ad7-a362dd2fc61e" Alias="solutionIt" Level="3">
  <Info>
    <Name>Solution-IT</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page/Solutions</Folder>
    <Compositions>
      <Composition Key="f1ebb70e-36e5-4d6d-a06f-598d3a73c0f8">bannerTitle</Composition>
      <Composition Key="023b2af0-fc2a-4f46-bcf2-e76b01bf7c5a">pageMeta</Composition>
    </Compositions>
    <DefaultTemplate>solutionIt</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cc28cc1d-f825-4e34-8e09-39b5dccc73ba">solutionIt</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a6ac81e6-da19-44cd-a58e-d51305ffc885</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>db1db7c4-c43c-4f04-9245-69288ce9cc8c</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a633e2e5-7c6b-4440-a917-c58dc8e2967f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>