<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="83420cf4-7003-4171-aff3-aa8a073ba8d7" Alias="solution" Level="3">
  <Info>
    <Name>Solution</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page/Solutions</Folder>
    <Compositions>
      <Composition Key="f1ebb70e-36e5-4d6d-a06f-598d3a73c0f8">bannerTitle</Composition>
      <Composition Key="023b2af0-fc2a-4f46-bcf2-e76b01bf7c5a">pageMeta</Composition>
    </Compositions>
    <DefaultTemplate>solution</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aff4651c-0a75-4b85-af3f-28491ad552b6">solution</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="314b6309-4d21-4561-9ad7-a362dd2fc61e" SortOrder="0">solutionIt</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>84b0aaa1-698a-4347-8a2b-024bd8370152</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ffae38a1-db46-4c15-bfe0-5f02b85012c7</Key>
      <Caption>content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>