<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d7c32e6f-ef1c-4754-9ec9-df88468affe0" Alias="successStoryList" Level="4">
  <Info>
    <Name>Success Story List</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page/News+Room/Success+Story</Folder>
    <Compositions>
      <Composition Key="f1ebb70e-36e5-4d6d-a06f-598d3a73c0f8">bannerTitle</Composition>
      <Composition Key="023b2af0-fc2a-4f46-bcf2-e76b01bf7c5a">pageMeta</Composition>
    </Compositions>
    <DefaultTemplate>successStoryList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9e635b8b-98c7-4c8e-93cb-a8071d8008f7">successStoryList</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>