<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbced22a-2b56-4b38-a67a-1bbef61ccc3c" Alias="Advantage" Level="2">
  <Info>
    <Parent Key="6a0839d2-c12c-40a9-8df6-4bf41e6b3087">Welcome</Parent>
    <Path>/Welcome/Advantage</Path>
    <Trashed>false</Trashed>
    <ContentType>advantageitem</ContentType>
    <CreateDate>2024-07-11T13:29:12</CreateDate>
    <NodeName Default="Advantage" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="424f98c5-3d1d-46d5-8560-0325a6f173ce">advantage</Template>
  </Info>
  <Properties>
    <story>
      <Value><![CDATA[]]></Value>
    </story>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>