<?xml version="1.0" encoding="utf-8"?>
<Content Key="43d2855d-e42a-4a60-818a-17d19a42ac7f" Alias="IT" Level="3">
  <Info>
    <Parent Key="604c2e53-25cd-45da-992e-82c37d0f7a25">Solution</Parent>
    <Path>/Welcome/Solution/IT</Path>
    <Trashed>false</Trashed>
    <ContentType>solutionIt</ContentType>
    <CreateDate>2024-07-31T10:45:06</CreateDate>
    <NodeName Default="IT" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc28cc1d-f825-4e34-8e09-39b5dccc73ba">solutionIt</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bTitle>
      <Value><![CDATA[]]></Value>
    </bTitle>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <menuText>
      <Value><![CDATA[]]></Value>
    </menuText>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>