<?xml version="1.0" encoding="utf-8"?>
<Content Key="cebb1b43-3b2b-4de9-afb4-6c8410ed21d1" Alias="Press Release" Level="2">
  <Info>
    <Parent Key="6a0839d2-c12c-40a9-8df6-4bf41e6b3087">Welcome</Parent>
    <Path>/Welcome/PressRelease</Path>
    <Trashed>false</Trashed>
    <ContentType>pressReleaseList</ContentType>
    <CreateDate>2024-07-12T13:59:11</CreateDate>
    <NodeName Default="Press Release" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc1cf7c3-8f70-4269-ab37-68e6c086a105">pressReleaseList</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[
  {
    "key": "7c2be7fb-4f10-486c-ae58-0ea58547ead3",
    "mediaKey": "aa13b8b0-d7f3-44a3-b732-d6d001bf23c5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </banner>
    <lastView>
      <Value><![CDATA[]]></Value>
    </lastView>
    <menuText>
      <Value><![CDATA[]]></Value>
    </menuText>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[新聞專區]]></Value>
    </title>
  </Properties>
</Content>