<?xml version="1.0" encoding="utf-8"?>
<Content Key="604c2e53-25cd-45da-992e-82c37d0f7a25" Alias="Solution" Level="2">
  <Info>
    <Parent Key="6a0839d2-c12c-40a9-8df6-4bf41e6b3087">Welcome</Parent>
    <Path>/Welcome/Solution</Path>
    <Trashed>false</Trashed>
    <ContentType>solution</ContentType>
    <CreateDate>2024-07-31T10:44:40</CreateDate>
    <NodeName Default="Solution" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aff4651c-0a75-4b85-af3f-28491ad552b6">solution</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bTitle>
      <Value><![CDATA[]]></Value>
    </bTitle>
    <menuText>
      <Value><![CDATA[]]></Value>
    </menuText>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[]]></Value>
    </text>
  </Properties>
</Content>