<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcecc839-a7d3-4eb9-ace0-b2393cf8deb9" Alias="Test" Level="3">
  <Info>
    <Parent Key="fbced22a-2b56-4b38-a67a-1bbef61ccc3c">Advantage</Parent>
    <Path>/Welcome/Advantage/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>advantage</ContentType>
    <CreateDate>2024-07-11T14:45:04</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e94fdfa-5ec1-4e7d-b402-065a2946d3be">advantageitem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[r334g]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E23gg43g\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[34t3g]]></Value>
    </introText>
    <publishOn>
      <Value><![CDATA[2024-07-25T00:00:00]]></Value>
    </publishOn>
    <subtitle>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003Eqwerqrqr\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </subtitle>
    <thumbanilImage>
      <Value><![CDATA[[
  {
    "key": "d591872d-c825-4f39-8ade-e92f81cd22af",
    "mediaKey": "2d0969dd-b95a-4ccc-980b-aacdf6db3f09",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbanilImage>
    <title>
      <Value><![CDATA[qewr]]></Value>
    </title>
  </Properties>
</Content>