<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a0839d2-c12c-40a9-8df6-4bf41e6b3087" Alias="Welcome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage1</ContentType>
    <CreateDate>2024-07-02T22:03:59</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aa80d742-54eb-4f41-a37a-5f02bc40d2f9">homePage1</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E\u0026nbsp;\n\u003Cp class=\u0022mx-auto decoration-primary/6 w-full max-w-[unset]\u0022\u003E\u003Cstrong class=\u0022font-bold\u0022\u003ELorem ipsum\u003C/strong\u003E\u003C/p\u003E\n\u003Cp class=\u0022mx-auto decoration-primary/6 w-full max-w-[unset]\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et aliquet ante, ut eleifend libero.\u003C/p\u003E\n\u003Cp class=\u0022mx-auto decoration-primary/6 w-full max-w-[unset]\u0022\u003ESed est ligula, maximus in dolor sed, lacinia egestas ligula. Donec eu nisi lectus.\u003C/p\u003E\n\u003Cp class=\u0022mx-auto decoration-primary/6 w-full max-w-[unset]\u0022\u003E\u003Cem class=\u0022font-italic\u0022\u003EMorbi pharetra pulvinar arcu non gr\u003C/em\u003E\u003C/p\u003E\n\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </bodyText>
    <footerText>
      <Value><![CDATA[Copyrignt tony 2024]]></Value>
    </footerText>
    <image1>
      <Value><![CDATA[[
  {
    "key": "2207aa09-b68d-4b82-9dc4-6a117de1f1be",
    "mediaKey": "240745c1-c38c-4fc8-ae4a-ed28551b3305",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image1>
    <image2>
      <Value><![CDATA[[
  {
    "key": "3954407d-ffa1-4ba4-89e7-cb73088c3c7b",
    "mediaKey": "8790bfc3-c5c4-41ea-9fb0-578f057d19f5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image2>
    <image3>
      <Value><![CDATA[[
  {
    "key": "d8e89eaf-ae7f-4799-85ce-bd85e0667d70",
    "mediaKey": "b5ba453f-9a00-42e4-a909-8771ac157b33",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image3>
    <imageA>
      <Value><![CDATA[[
  {
    "key": "603d84ff-e1b0-4929-98ad-e4b0c78440b5",
    "mediaKey": "56242325-690f-4b5d-a1ec-9353734e93ba",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imageA>
    <imageB>
      <Value><![CDATA[[
  {
    "key": "c6eb5ff8-1fb1-43e4-976a-f39b45d8f586",
    "mediaKey": "990454dd-6a5f-4f52-b8c9-0b6a13a5afab",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imageB>
    <lecture1>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum repellendus non optio quos aspernatur sapiente tempore vel voluptatibus facilis repudiandae!1111\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </lecture1>
    <lecture2>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ELorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum repellendus non optio quos aspernatur sapiente tempore vel voluptatibus facilis repudiandae!2222\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </lecture2>
    <lecture3>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ELorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum repellendus non optio quos aspernatur sapiente tempore vel voluptatibus facilis repudiandae!333\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </lecture3>
    <logo>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qhtpcdcw/logo.svg"
}]]></Value>
    </logo>
    <pageTitle>
      <Value><![CDATA[Welcome to Umbraco]]></Value>
    </pageTitle>
    <titleA>
      <Value><![CDATA[VTrak  D5000 ]]></Value>
    </titleA>
    <titleB>
      <Value><![CDATA[Pegasus 12]]></Value>
    </titleB>
  </Properties>
</Content>