<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf8da8c5-3ca5-47a4-bb64-a7e6ceb17bec" Alias="HomePage - Page Title - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>HomePage - Page Title - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>