<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcd594df-342f-4628-96ce-2a27049ab5d0" Alias="HomePage - Body Text - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>HomePage - Body Text - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "link",
    "umbmediapicker",
    "umbembeddialog"
  ]
}]]></Config>
</DataType>