<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4513e18-0d8d-4778-b1da-51e240122982" Alias="HomePage - Footer Text - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>HomePage - Footer Text - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>