<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db1db7c4-c43c-4f04-9245-69288ce9cc8c" Alias="My Block Grid" Level="1">
  <Info>
    <Name>My Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Unnamed group",
      "key": "13e91f17-70b6-4092-ad61-8107420d336a"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "7008790b-b981-408d-ab2d-756576874383",
      "groupKey": "13e91f17-70b6-4092-ad61-8107420d336a",
      "areas": [
        {
          "key": "6d1f5646-e86a-4c77-8535-21066e353e88",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "cecbc263-5ebe-4956-9625-f037a31bf423",
      "groupKey": "13e91f17-70b6-4092-ad61-8107420d336a",
      "areas": [
        {
          "key": "796f0dff-1c26-4693-b33c-1e4e34551691",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "7f4bae4a-219f-4983-a49b-86159a12e154",
      "groupKey": "13e91f17-70b6-4092-ad61-8107420d336a",
      "areas": [
        {
          "key": "53b74f7c-730e-4129-9111-ecf97adbe86a",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "29a41e44-4ff3-42b3-bd3b-23ed02425087",
      "groupKey": "13e91f17-70b6-4092-ad61-8107420d336a",
      "areas": [
        {
          "key": "47725ef4-9b05-4be7-a73e-954c01e73921",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "0881998b-7bdb-4011-a336-0a650c62acf6",
          "alias": "area1",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": true
}]]></Config>
</DataType>