<?xml version="1.0" encoding="utf-8"?>
<DataType Key="769f8618-9e2f-4510-83ff-51e6c880c621" Alias="Press Release - News Article - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Press Release - News Article - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "4b096e6f-d422-4d45-8aed-e2ad4cf55426",
      "name": "Layout"
    },
    {
      "name": "Content",
      "key": "4321ec64-3c94-4385-a3c5-d3fa80a301b1"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "29a41e44-4ff3-42b3-bd3b-23ed02425087",
      "groupKey": "4b096e6f-d422-4d45-8aed-e2ad4cf55426"
    },
    {
      "contentElementTypeKey": "cecbc263-5ebe-4956-9625-f037a31bf423",
      "groupKey": "4321ec64-3c94-4385-a3c5-d3fa80a301b1"
    },
    {
      "contentElementTypeKey": "7008790b-b981-408d-ab2d-756576874383",
      "groupKey": "4321ec64-3c94-4385-a3c5-d3fa80a301b1"
    },
    {
      "contentElementTypeKey": "7f4bae4a-219f-4983-a49b-86159a12e154",
      "groupKey": "4321ec64-3c94-4385-a3c5-d3fa80a301b1"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>