<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cbfdb3a8-cc95-43c7-bdc3-91900561e82d" Alias="Press Release Item - Gmail - Email Property Editor UI" Level="1">
  <Info>
    <Name>Press Release Item - Gmail - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>