<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e03bbc67-f62a-47d0-a750-fd54ef262167" Alias="Press Release Item -  - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Press Release Item -  - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Unnamed group",
      "key": "946e5e9f-1e86-48e7-abf4-f6726114f7f0"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>