<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2442145-4a5c-4530-bddf-88abb2bbf7ec" Alias="Solution-IT -  - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Solution-IT -  - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Unnamed group",
      "key": "f15c9399-f471-4751-a49e-92526384bf75"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "7008790b-b981-408d-ab2d-756576874383"
    },
    {
      "contentElementTypeKey": "7f4bae4a-219f-4983-a49b-86159a12e154"
    },
    {
      "contentElementTypeKey": "cecbc263-5ebe-4956-9625-f037a31bf423"
    },
    {
      "contentElementTypeKey": "29a41e44-4ff3-42b3-bd3b-23ed02425087"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>