<?xml version="1.0" encoding="utf-8"?>
<Content Key="32615bbc-150c-4aa7-9098-a3d132b082f4" Alias="Carousel" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Carousel</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage1</ContentType>
    <CreateDate>2024-07-11T10:13:54</CreateDate>
    <NodeName Default="Carousel" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="aa80d742-54eb-4f41-a37a-5f02bc40d2f9">homePage1</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E\u0026nbsp;\n\u003Cp class=\u0022mx-auto decoration-primary/6 w-full max-w-[unset]\u0022\u003E\u003Cstrong class=\u0022font-bold\u0022\u003ELorem ipsum\u003C/strong\u003E\u003C/p\u003E\n\u003Cp class=\u0022mx-auto decoration-primary/6 w-full max-w-[unset]\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et aliquet ante, ut eleifend libero.\u003C/p\u003E\n\u003Cp class=\u0022mx-auto decoration-primary/6 w-full max-w-[unset]\u0022\u003ESed est ligula, maximus in dolor sed, lacinia egestas ligula. Donec eu nisi lectus.\u003C/p\u003E\n\u003Cp class=\u0022mx-auto decoration-primary/6 w-full max-w-[unset]\u0022\u003E\u003Cem class=\u0022font-italic\u0022\u003EMorbi pharetra pulvinar arcu non gr\u003C/em\u003E\u003C/p\u003E\n\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </bodyText>
    <footerText>
      <Value><![CDATA[Copyrignt tony 2024]]></Value>
    </footerText>
    <image1>
      <Value><![CDATA[]]></Value>
    </image1>
    <image2>
      <Value><![CDATA[]]></Value>
    </image2>
    <image3>
      <Value><![CDATA[]]></Value>
    </image3>
    <imageA>
      <Value><![CDATA[]]></Value>
    </imageA>
    <imageB>
      <Value><![CDATA[]]></Value>
    </imageB>
    <lecture1>
      <Value><![CDATA[]]></Value>
    </lecture1>
    <lecture2>
      <Value><![CDATA[]]></Value>
    </lecture2>
    <lecture3>
      <Value><![CDATA[]]></Value>
    </lecture3>
    <logo>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qhtpcdcw/logo.svg"
}]]></Value>
    </logo>
    <pageTitle>
      <Value><![CDATA[Welcome to Umbraco]]></Value>
    </pageTitle>
    <titleA>
      <Value><![CDATA[]]></Value>
    </titleA>
    <titleB>
      <Value><![CDATA[]]></Value>
    </titleB>
  </Properties>
</Content>